@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "¡Email enviado!";
}

<h1>@ViewData["Title"]</h1>
<br />
<p style="font-size:20px;">
    Por favor, revisa tu bandeja de entrada. No olvides revisar la carpeta SPAM.
</p>
