@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar sesión";
}

<style>
    .login-container {
        max-width: 400px;
        margin: auto;
        margin-top: 50px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    .login-header {
        background: #0D5C8C;
        color: white;
        text-align: center;
        padding: 20px;
        font-size: 24px;
    }

    .login-body {
        padding: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-primary {
        width: 100%;
        background: #0D5C8C;
        border: none;
    }

        .btn-primary:hover {
            background: #084769;
        }

    .forgot-password {
        display: block;
        text-align: right;
        margin-top: 10px;
    }
</style>

<div class="login-container">
    <div class="login-header">Iniciar Sesión con Email y Contraseña</div>
    <div class="login-body">
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.Email" class="form-label">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Password" class="form-label">Contraseña</label>
                <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <button id="login-submit" type="submit" class="btn btn-primary">Login</button>
            <a id="forgot-password" asp-page="./ForgotPassword" class="forgot-password">¿Olvido la contraseña?</a>
            <hr />
            <a asp-page="./ResendEmailConfirmation" class="btn btn-primary" >Reenviar email confirmacion</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
