@page "/"

<PageTitle>Inicio</PageTitle>

<div class="home-container">
    <h1 class="home-title">🏥 Consultorio médico del Dr. Cairo</h1>
    <br />
    <RadzenRow class="home-row">
        <!-- Imagen -->
        <RadzenColumn Size="12" SizeXS="12" SizeSM="12" SizeMD="6" SizeLG="6" class="home-image-column">
            <img src="images/hush-naidoo-jade-photography-yo01Z-9HQAw-unsplash.jpg" class="home-image" alt="Consultorio Médico">
        </RadzenColumn>

        <!-- Texto de presentación -->
        <RadzenColumn Size="12" SizeXS="12" SizeSM="12" SizeMD="6" SizeLG="6" class="home-text-column">
            <h2 class="home-subtitle">🩺 Cuidamos tu salud con dedicación y profesionalismo</h2>
            <p class="home-description">
                En nuestro consultorio, ofrecemos atención médica especializada para ayudarte a recuperar tu bienestar.
                <br> Nuestro equipo de profesionales está listo para atenderte con la mejor calidad.
            </p>

            <!-- Botón de contacto flotante -->
            <div class="home-button-container">
                <a href="https://wa.me/542227584153" class="home-button" target="_blank">
                    <i class="fa fa-whatsapp"></i> WhatsApp 
                </a>
            </div>
        </RadzenColumn>
    </RadzenRow>
</div>