@page "/turnos_disponibles"
@attribute [Authorize(Roles = "Admin")]
@using Microsoft.EntityFrameworkCore
@inject DialogService DialogService
@inject NotificationService NotificationService

<PageTitle>Turnos Disponibles</PageTitle>

<h2 style="text-align: center; margin-top: 1rem;">Turnos disponibles</h2>

<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Gap="0.5rem" class="rz-p-sm-12">
    <RadzenLabel Text="Seleccionar médico" Component="DropDownBindValue" />
    <RadzenDropDown @bind-Value="medicoSeleccionado" Placeholder="Seleccionar"
                    Data="@listaMedicos" Style="width: 30%;"
                    Change="@(async args => await OnMedicoSeleccionado(args))" TextProperty="NombreMedico" ValueProperty="NombreMedico" />
</RadzenStack>

@if (turnosVisuales?.Any() == true)
{
    <RadzenScheduler @ref=@calendario TItem="TurnoVisual" Data="@turnosVisuales"
                     StartProperty="FechaHora" EndProperty="FechaHora" SlotRender="@(args => OnSlotRender(args))"
    TextProperty="Texto" style="height: 768px;">
        <RadzenMonthView />
    </RadzenScheduler>


}

@code {
    public class TurnoVisual
    {
        public DateTime FechaHora { get; set; }
        public string Texto => FechaHora.ToString("HH:mm");        
        public string Medico { get; set; } = "";
    }

    RadzenScheduler<TurnoVisual> calendario;
    string? medicoSeleccionado;
    List<TurnoVisual> turnosVisuales = new();
    List<Medico> listaMedicos = Medico.ObtenerMedicos();

    private async Task OnMedicoSeleccionado(object value)
    {
        medicoSeleccionado = value?.ToString();
        if (!string.IsNullOrEmpty(medicoSeleccionado))
        {
            await GenerarTurnosParaTodoElAño();
            StateHasChanged();
            await calendario.Reload();
        }
    }

    private async Task GenerarTurnosParaTodoElAño()
    {
        turnosVisuales.Clear();

        List<Medico> horariosMedicos = Base.SelectAMedicos("SELECT * FROM medicos");
        DateTime hoy = DateTime.Today;

        for (int i = 0; i < 12; i++)
        {
            var fechaBase = hoy.AddMonths(i);
            int año = fechaBase.Year;
            int mes = fechaBase.Month;
            int diasEnElMes = DateTime.DaysInMonth(año, mes);

            for (int dia = 1; dia <= diasEnElMes; dia++)
            {
                var fecha = new DateTime(año, mes, dia);
                var turno = new Turno
                    {
                        Medico = medicoSeleccionado,
                        FechaTurno = fecha
                    };

                string nombreDiaEnEspañol = "";

                switch (fecha.DayOfWeek)
                {
                    case DayOfWeek.Monday:
                        nombreDiaEnEspañol = "Lunes";
                        break;
                    case DayOfWeek.Tuesday:
                        nombreDiaEnEspañol = "Martes";
                        break;
                    case DayOfWeek.Wednesday:
                        nombreDiaEnEspañol = "Miercoles";
                        break;
                    case DayOfWeek.Thursday:
                        nombreDiaEnEspañol = "Jueves";
                        break;
                    case DayOfWeek.Friday:
                        nombreDiaEnEspañol = "Viernes";
                        break;
                    case DayOfWeek.Saturday:
                        nombreDiaEnEspañol = "Sabado";
                        break;
                    case DayOfWeek.Sunday:
                        nombreDiaEnEspañol = "Domingo";
                        break;
                    default:
                        nombreDiaEnEspañol = "Desconocido";
                        break;
                }

                foreach (Medico med in horariosMedicos)
                {
                    if (med.NombreMedico == medicoSeleccionado && med.diaTrabajo == nombreDiaEnEspañol)
                    {
                        var horarios = turno.ObtenerHorariosDisponibles(false);
                        foreach (var h in horarios)
                        {
                            if (DateTime.TryParseExact(h, "HH:mm", null, System.Globalization.DateTimeStyles.None, out var hora))
                            {
                                var fechaHora = new DateTime(fecha.Year, fecha.Month, fecha.Day, hora.Hour, hora.Minute, 0);

                                turnosVisuales.Add(new TurnoVisual
                                    {
                                        FechaHora = fechaHora,
                                        Medico = medicoSeleccionado
                                    });
                            }
                        }
                    }
                }

               
            }
        }
        
    }

    void OnSlotRender(SchedulerSlotRenderEventArgs args)
    {

        //Pinta el dia de hoy
        if (args.View.Text == "Month" && args.Start.Date == DateTime.Today)
        {
            args.Attributes["style"] = "background: var(--rz-scheduler-highlight-background-color, rgba(255,220,40,.2));";
        }

        

    }
}
